@media screen and (max-width: 700px) {
    .content-container {
        padding: 64px 20px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .cost-container{
        width: 100px;
        height: 100px;
    }
    .ocean-content{
        margin-right : 0;

    }
    .content-item{
        margin-top: 102px;
        align-self: center;
        max-width: 80%;
    }
    .mountains-content {
        margin-right : 0;
    } 
    .place-image {
        width: 100%;
        height: 250px;
    }
    .container{
        height: 250px;

    } 
    .buy-button {
        width : 100%;
    }
    .ipad-cost {
        padding: 16px;
        border-radius: 50%;
    }
    .cost {
        margin-top: 18px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 700.1px) {
    .content-container {
        padding: 102px 50px;
        flex-wrap: wrap;
    }
    .content-item{
        max-width: 45%;
    }
    .ocean-content {
        margin-right: 0;

    }
    .mountains-content {
        margin-top : 0;
        margin-right: 0;
    } 
    
    .forest-content {
        margin-top: 102px;
    } 
    

    .w-100 {
        width: 100%;
    }

    .place-image {
        width: 100%;
        height: 250px;
    }
    .container{
        height: 250px;

    }
    .cost-container{
        width: 100px;
        height: 100px;
    }

    .buy-button {
        width : 100%;
        font-size: 16px;
    }
    
    .ipad-cost {
        padding: 16px;
        border-radius: 50%;
    }

    .cost {
        margin-top: 18px;
    }
}